<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolved Requests</title>
</head>

<body>
    <h1>
        <%=name%> Club's Pending Requests
    </h1>

    <ul>
        <% for(el of resolveds) {%>
            <li><b>
                    <%=el.subject%>
                </b><br>
                <p>
                    <%=el.body%>
                </p>
            </li>

            <% } %>
    </ul>


</body>

</html>